body {
    background-color: lightcyan;
}
.title {
    font-family: 'Lobster', cursive;
    font-size: 350%;
}
#Background {
    position: fixed;
    
}
#body {
    
    font-family: 'Inconsolata', monospace;
    
}
