body {
    background: url("https://images.unsplash.com/photo-1512850183-6d7990f42385?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb095116a8cfd26cec5c171f8438a213&w=1000&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: cover;
	position: static;
	width: 1390px;
	margin: auto;
}
.title {
    font-family: 'Lobster', cursive;
    font-size: 350%;
}

.A {
	color: white;
	font-family: 'Inconsolata', monospace;
	background-color: black;
	text-align: center;
	padding: 1em 5em 5em;
	box-sizing: border-box;
	border-radius: 30px 30px 30px 30px;
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: 3px 6px;
	box-shadow: white;
}

.second {
    color: white;
}

.B {
    font-family: 'Inconsolata', monospace;
    margin-top: 20px;
	Background-color: black;
	color: white;
	text-align: center;
	padding: 1em 5em 5em;
	box-sizing: border-box;
	border-radius: 30px 30px 30px 30px;
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: 3px 6px;
	box-shadow: white;
    
}
#header {
    font-size: 15;
    margin-top: 1px;
        background-color: white;
}

#header2 {
        margin-left: 550px;
}

.headerlink {
    text-decoration: none;
    color: #000000;
	margin-left: 0.5px;
    padding: 10px 10px 10px;
}

#name {
    font-size: 200%;
}

#testheader{
        background-color: white;
}
