body {
    background-color: lightcyan;
}
.title {
    font-family: 'Lobster', cursive;
    font-size: 350%;
}

#Background {
    background: transparent;
    max-width: 100%;

}


#body {
    
    font-family: 'Inconsolata', monospace;
    
}
